* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

h1, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  height: 200px;
  float: left;
}

.info p {
  font-size: 20px;
}

.intro {
  
  display: block;
  margin: 10px 0 95px 0;
}

.card.intro {
  background-color: burlywood;
}

.intro p {
  font-size: 22px;
  padding: 40px 0 0 0;
}

.title {
  border: 2px solid black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px 0 80px;
  padding: 10px 0;
  text-align: center;
}