* {
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
}

h1, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  height: 200px;
  float: left;
}

.education ul li {
  list-style-position: inside;
}

.info p {
  font-size: 20px;
}

.info ul li {
  list-style: none;
}

.intro {
  
  display: block;
  margin: 10px 0 95px 0;
}

.card.intro {
  background-color: burlywood;
  margin: 0 0 20px 0;
}

.col {
  background-color: azure;
  margin: 0px;
  padding: 2px;
  text-align: center;
}

.container.skills {
  margin-bottom: 25px;
}

.intro p {
  font-size: 22px;
  padding: 40px 0 0 0;
}

.projects {
  margin: 20px 0 20px 0;
}

.title {
  border: 2px solid black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px 0 30px;
  padding: 10px 0;
  text-align: center;
}

.work ul li {
  list-style-position: inside;
}